# Зависимости
node_modules/
vendor/

# Сборки
/backend/server
/frontend/build/
/frontend/dist/
*.exe

# Окружение
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Логи
*.log
logs/

# Тесты
coverage/
*.cover
*.out
